.home {
  overflow-x: hidden;
}

.allWorkCta {
  display: flex;
  justify-content: center;
  margin: calc(var(--space2XL) * -0.5) 0 var(--space3XL);
  padding: 0 var(--spaceOuter);
}

@media (--mediaTablet) {
  .allWorkCta {
    margin: calc(var(--spaceXL) * -1) 0 var(--space3XL);
  }
}

@media (--mediaMobile) {
  .allWorkCta {
    margin: var(--spaceL) 0 var(--space3XL);
  }
}
